################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/CaptureProxy/bin/Debug
/CaptureProxy/obj
/CaptureProxy/bin/Release/CaptureProxySettings.xml
